logs/dag_id=dag_con_backfilling/run_id=manual__2023-05-16T011638.773926+0000/task_id=tarea1/attempt=1.log
logs/dag_id=dag_con_backfilling/run_id=scheduled__2023-05-15T000000+0000/task_id=tarea1/attempt=1.log
logs/dag_id=dag_con_backfilling/run_id=scheduled__2023-05-16T000000+0000/task_id=tarea1/attempt=1.log
logs/dag_id=dag_con_backfilling/run_id=scheduled__2023-05-18T000000+0000/task_id=tarea1/attempt=1.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-19T015828.280794+0000/task_id=transformar_data/attempt=1.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-19T020932.236160+0000/task_id=transformar_data/attempt=1.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-19T020932.236160+0000/task_id=transformar_data/attempt=2.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-19T021517.923532+0000/task_id=transformar_data/attempt=1.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-22T201605.907578+0000/task_id=load_data/attempt=1.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-22T201605.907578+0000/task_id=transformar_data/attempt=1.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-22T210430.178786+0000/task_id=transformar_data/attempt=1.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-22T211739.793563+0000/task_id=transformar_data/attempt=1.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-22T211739.793563+0000/task_id=transformar_data/attempt=2.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-22T214005.531612+0000/task_id=transformar_data/attempt=1.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-22T214005.531612+0000/task_id=transformar_data/attempt=2.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-22T214845.649355+0000/task_id=transformar_data/attempt=1.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-22T214845.649355+0000/task_id=transformar_data/attempt=2.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-22T220037.418641+0000/task_id=transformar_data/attempt=1.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-23T195128.021944+0000/task_id=load_conection/attempt=1.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-23T195128.021944+0000/task_id=transformar_data/attempt=1.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-23T195506.545262+0000/task_id=insert_data/attempt=1.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-23T195506.545262+0000/task_id=insert_data/attempt=2.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-23T195506.545262+0000/task_id=load_conection/attempt=1.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-23T195506.545262+0000/task_id=transformar_data/attempt=1.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-23T200113.396239+0000/task_id=load_conection/attempt=1.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-23T200113.396239+0000/task_id=transformar_data/attempt=1.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-23T200603.341643+0000/task_id=insert_data/attempt=1.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-23T200603.341643+0000/task_id=insert_data/attempt=2.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-23T200603.341643+0000/task_id=load_conection/attempt=1.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-23T200603.341643+0000/task_id=load_conection/attempt=2.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-23T200603.341643+0000/task_id=transformar_data/attempt=1.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-23T201738.537339+0000/task_id=insert_data/attempt=1.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-23T201738.537339+0000/task_id=insert_data/attempt=2.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-23T201738.537339+0000/task_id=load_conection/attempt=1.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-23T201738.537339+0000/task_id=transformar_data/attempt=1.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-23T202413.301988+0000/task_id=insert_data/attempt=1.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-23T202413.301988+0000/task_id=insert_data/attempt=2.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-23T202413.301988+0000/task_id=load_conection/attempt=1.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-23T202413.301988+0000/task_id=transformar_data/attempt=1.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-23T202911.726728+0000/task_id=load_conection/attempt=1.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-23T202911.726728+0000/task_id=load_conection/attempt=2.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-23T202911.726728+0000/task_id=transformar_data/attempt=1.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-23T205325.397537+0000/task_id=load_conection/attempt=1.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-23T205325.397537+0000/task_id=transformar_data/attempt=1.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-23T205713.991612+0000/task_id=insert_data/attempt=1.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-23T205713.991612+0000/task_id=insert_data/attempt=2.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-23T205713.991612+0000/task_id=load_conection/attempt=1.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-23T205713.991612+0000/task_id=transformar_data/attempt=1.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-23T210140.584289+0000/task_id=insert_data/attempt=1.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-23T210140.584289+0000/task_id=insert_data/attempt=2.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-23T210140.584289+0000/task_id=load_conection/attempt=1.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-23T210140.584289+0000/task_id=transformar_data/attempt=1.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-23T211715.469422+0000/task_id=insert_data/attempt=1.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-23T211715.469422+0000/task_id=load_conection/attempt=1.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-23T211715.469422+0000/task_id=transformar_data/attempt=1.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-23T213524.987232+0000/task_id=insert_data/attempt=1.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-23T213524.987232+0000/task_id=insert_data/attempt=2.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-23T213524.987232+0000/task_id=load_conection/attempt=1.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-23T213524.987232+0000/task_id=transformar_data/attempt=1.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-23T214216.080060+0000/task_id=insert_data/attempt=1.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-23T214216.080060+0000/task_id=load_conection/attempt=1.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-23T214216.080060+0000/task_id=transformar_data/attempt=1.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-23T214724.086581+0000/task_id=insert_data/attempt=1.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-23T214724.086581+0000/task_id=load_conection/attempt=1.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-23T214724.086581+0000/task_id=transformar_data/attempt=1.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-23T215236.812651+0000/task_id=insert_data/attempt=1.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-23T215236.812651+0000/task_id=load_conection/attempt=1.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-23T215236.812651+0000/task_id=transformar_data/attempt=1.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-23T221016.886321+0000/task_id=insert_data/attempt=1.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-23T221016.886321+0000/task_id=load_conection/attempt=1.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-23T221016.886321+0000/task_id=transformar_data/attempt=1.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-23T221604.106751+0000/task_id=insert_data/attempt=1.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-23T221604.106751+0000/task_id=load_conection/attempt=1.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-23T221604.106751+0000/task_id=transformar_data/attempt=1.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-23T221650.736607+0000/task_id=insert_data/attempt=1.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-23T221650.736607+0000/task_id=load_conection/attempt=1.log
logs/dag_id=ingestion_data/run_id=manual__2023-05-23T221650.736607+0000/task_id=transformar_data/attempt=1.log
logs/dag_id=ingestion_data/run_id=scheduled__2023-05-19T005824.101193+0000/task_id=transformar_data/attempt=1.log
logs/dag_id=ingestion_data/run_id=scheduled__2023-05-19T005824.101193+0000/task_id=transformar_data/attempt=2.log
logs/dag_id=ingestion_data/run_id=scheduled__2023-05-19T015824.101193+0000/task_id=load_data/attempt=1.log
logs/dag_id=ingestion_data/run_id=scheduled__2023-05-19T015824.101193+0000/task_id=transformar_data/attempt=1.log
logs/dag_id=ingestion_data/run_id=scheduled__2023-05-22T190218.979199+0000/task_id=load_data/attempt=1.log
logs/dag_id=ingestion_data/run_id=scheduled__2023-05-22T190218.979199+0000/task_id=transformar_data/attempt=1.log
logs/dag_id=ingestion_data/run_id=scheduled__2023-05-22T190250.539769+0000/task_id=load_data/attempt=1.log
logs/dag_id=ingestion_data/run_id=scheduled__2023-05-22T190250.539769+0000/task_id=transformar_data/attempt=1.log
logs/dag_id=ingestion_data/run_id=scheduled__2023-05-22T200250.539769+0000/task_id=transformar_data/attempt=1.log
logs/dag_id=ingestion_data/run_id=scheduled__2023-05-22T210250.539769+0000/task_id=transformar_data/attempt=1.log
logs/dag_id=ingestion_data/run_id=scheduled__2023-05-23T184703.372736+0000/task_id=transformar_data/attempt=1.log
logs/dag_id=ingestion_data/run_id=scheduled__2023-05-23T184741.614289+0000/task_id=transformar_data/attempt=1.log
logs/dag_id=ingestion_data/run_id=scheduled__2023-05-23T194741.614289+0000/task_id=insert_data/attempt=1.log
logs/dag_id=ingestion_data/run_id=scheduled__2023-05-23T194741.614289+0000/task_id=load_conection/attempt=1.log
logs/dag_id=ingestion_data/run_id=scheduled__2023-05-23T194741.614289+0000/task_id=transformar_data/attempt=1.log
logs/dag_id=ingestion_data/run_id=scheduled__2023-05-23T204741.614289+0000/task_id=insert_data/attempt=1.log
logs/dag_id=ingestion_data/run_id=scheduled__2023-05-23T204741.614289+0000/task_id=load_conection/attempt=1.log
logs/dag_id=ingestion_data/run_id=scheduled__2023-05-23T204741.614289+0000/task_id=transformar_data/attempt=1.log
logs/dag_processor_manager/dag_processor_manager.log
logs/scheduler/latest
logs/scheduler/2023-05-16/Dag_HolaMundo.py.log
logs/scheduler/2023-05-19/Dag_Entregable.py.log
logs/scheduler/2023-05-19/Dag_HolaMundo.py.log
logs/scheduler/2023-05-22/Dag_Entregable.py.log
logs/scheduler/2023-05-22/Dag_HolaMundo.py.log
logs/scheduler/2023-05-23/Dag_Entregable.py.log
logs/scheduler/2023-05-23/Dag_HolaMundo.py.log
logs/scheduler/2023-05-23/Spotify_ETL.py.log
